.Categories{
	height: 100%;
	min-height: 100vh;
	width: 100%;
}

.Box{
	width: 100%;
	padding-top: 0px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.SectionBox{
	width: 48%;
	padding: 20px;
	padding-top: 0;
}

.sectionHeader{
	font-size: 13px;
	color: #001830;
	margin-top: 130px;
	margin-bottom: 10px;
	display: block;
}

.categoryContainer{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
	grid-gap: 10px;
	justify-items: stretch;
}

@media (max-width: 600px){
	.Box{
		flex-direction: column;
		align-items: center;
	}
	.two{
		margin-top: 30px
	}
	.SectionBox{
		width: 100%;
	}
	.categoryContainer{	
		grid-template-columns: repeat(auto-fit, 1fr); 
	}
}