.Logo{
	height: 100%;
	max-width: 305px;
	width: 100%;
	display: flex;
	align-items: center;
}
.h1{
	font-size: 23px;
	color: #fff;
}
.Logo svg{
	height: 50px;
	width: 50px;
}
@media (max-width: 768px){
	.Logo{
		justify-content: center;
	}
}
