.ViewBook {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.BookDetails{
	width: 68%;
	padding: 20px;
	padding-top: 22px;
}

.BookDetails h2{
	font-size: 	25px;
}
.similarBooks{
	width: 30%;
	height: 100%;
	min-height: 70vh;
	position: fixed;
	right: 0;
	overflow: scroll;
	padding: 20px;
}
.similarBooks > div {
	/*height: 140px;*/
	margin-bottom: 15px;
}
.similarBooks > div h2{
	font-size: 	14px;
}
.similarBooks span {
	font-size: 	12px;
}
.SectionHeader{
	font-size: 13px;
	color: #001830;
	margin-top: 125px;
	margin-bottom: 10px;
	display: block;
	padding-left: 10px;
}
.bookdecription{
	font-size: 15px;
	padding: 10px;
}
.headerSmall{
	margin: 10px 0 0 10px;
	font-size: 13px;
}

@media (max-width: 1000px){
	.similarBooks{
		width: 37%;
	}
	.BookDetails{
		width: 63%;
	}
}


@media (max-width: 850px){
	.similarBooks{
		width: 40%;
	}
	.BookDetails{
		width: 60%;
	}
}



@media (max-width: 750px){
	.ViewBook{
		flex-direction: column;
	}
	.similarBooks{
		width: 100%;
		position: relative;
	}
	.BookDetails{
		width: 100%;
	} 
	.SectionHeaderSecond{
		margin-top: 20px;
	}
}