.ViewBook {
	padding-top: 120px;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.BookDetails{
	width: 70%;
	padding: 20px;
	padding-top: 20px;
	position: relative;
	height: calc(100vh - 120px);
	overflow: scroll;
	overflow-x: hidden;
}

.BookDetails h2{
	font-size: 	20px;
}
.similarBooks{
	width: 30%;
	height: 100%; 
	min-height: 70vh;
	position: fixed;
	right: 0;
	overflow: scroll;
	padding: 20px;
	border-left: 1px solid #00386E30;
	overflow-x: hidden;
}
.similarBooks > div {
	/*height: 140px;*/
	margin-bottom: 15px;
}
.similarBooks > div h2{
	font-size: 	14px;
}
.similarBooks span {
	font-size: 	12px;
}
.SectionHeader{
	font-size: 13px;
	color: #001830;
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
}
.bookdecription{
	line-height: 25px;
	font-size: 16px;
	padding: 10px;
	color: #001830;
}
.headerSmall{
	margin: 10px 0 0 10px;
	font-size: 13px;
	color: #001830;
}

@media (max-width: 1000px){
	.similarBooks{
		width: 37%;
	} 
	.BookDetails{
		width: 63%;
	}
}


@media (max-width: 850px){
	.similarBooks{
		width: 40%;
	}
	.BookDetails{
		width: 60%;
	}
}



@media (max-width: 850px){
	.ViewBook{
		flex-direction: column;
		min-height: 100vh;
		height: auto;
	}
	.similarBooks{
		width: 100%;
		position: relative;
		height: 100%;
	}
	.BookDetails{
		width: 100%;
		height: 100%;
	} 
	.SectionHeaderSecond{
		margin-top: 20px;
	}
	.bookdecription{
		font-size: 15px;
	}
}