.Btn{
	font-size: 13px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Btn svg{
	height: 15px;
	width: 15px;
	margin-right: 10px;
}
.BtnBig{
	padding: 10px 35px;
	width: 200px;
}

.BtnSmall{
	padding: 10px 25px;
	width: 100px;
}