.Subheader{
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 64px;
	z-index: 1000
}

.menu {
	color: #fff;
	margin-right: 30px;
	padding: 5px 10px;
	cursor: pointer;
	z-index: 100;
}
.bar{
	width: 30px;
	height: 3px;
	position: relative;
	background-color: #fff;
	transition: all 0.3s ease-in;
}
.bar::after, .bar::before{
	width: 30px;
	height: 3px;
	position: absolute;
	content: '';
	background-color: #fff;
	transition: all 0.3s ease-in;
}
.bar::after{
	top: 9px;	
}

.bar::before{
	bottom: 9px;
}

.colorBar, .colorBar::after, .colorBar::before{
	background-color: #001830;
}

.bar.active{
	background-color: transparent; 
	transition: all 0.3s ease-in;
}
.bar.active::before{
	opacity: 1;
	transform: translateY(9px) rotate(45deg);
	background-color: #fff;
}
.bar.active::after{
	opacity: 1;
	transform: translateY(-9px) rotate(-45deg);
	background-color: #fff;
}

.colorBar.active{
	background-color: transparent;
}
.colorBar.active::before{
	opacity: 1;
	transform: translateY(9px) rotate(45deg);
	background-color: #fff;
}
.colorBar.active::after{
	opacity: 1;
	transform: translateY(-9px) rotate(-45deg);
	background-color: #fff;
}

.menu svg, .menu path{
	color: currentColor;
	fill: currentColor;
	width: 100%;
	height: 100%;
}

.button{
	position: absolute;
	right: 30px;
}
.loaderBar{
	position: absolute;
	left: 0;
	top: 123px;
	z-index: 3000;
}


@media (max-width: 700px){
	.NavItems{
		display: none;
	}
	.button{
		position: static;
	}

	.Subheader{
		justify-content: space-between;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}