.TopHeader{
	width: 100%;
	padding: 7px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #001830;
	position: fixed;
}
.searchBar{
	width: 37%;
}

@media (max-width: 768px){
	.TopHeader{
		justify-content: center;
	}
	.searchBar{
		display: none;
	}
}