.InputGroup{
	width: 100%;
	margin-bottom: 13px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #333;
	/*background-color: red;*/
}
.dummy{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	cursor: pointer;
}
.InputGroup input[type="file"]{
	visibility: hidden;
	height: 0;
	width: 0;

}
.Label{
	font-size: 13px;
	display: block;
	margin-bottom: 5px;
	color: #00386E;
	align-self: flex-start;
	font-weight: bold;
}
.imageInput{
	width: 100%;

}

.inputNormal{
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 15px 20px;
	font-size: 15px;
	outline: none;
	width: 100%;
}

.textArea{
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 15px 15px;
	font-size: 15px;
	outline: none;
	height: 150px;
	width: 100%;
	resize: vertical;
}
.errorMessage{
	color: rgba(255, 0, 0, 0.774);
	font-size: 10px;
	margin: 5px 0;
	text-align: left;
	width: 100%;
}

.null{
	color: transparent;
	font-size: 10px;
	margin: 5px 0;
	text-align: left;
	width: 100%;
}

.fileInput{
	border-radius: 8px;
	border: 1px solid #ccc;
	/*background-color: #EFF3F6;*/
	padding: 7px 15px;
	font-size: 15px;
	outline: none;	
}

.imageupload{
	width: 100%;
	color: #ccd9e3;
	height: 350px;
	background-color: transparent;
	border: 1px solid #ccc;
	position: relative;
	width: 350px;
	max-width: 90%;
	margin-bottom: 25px;
	cursor: pointer;
	transition: all 0.3s ease-in;
}
.imageupload:hover{
	background-color: #f7f7f7;
	color: #fff;
	border: 1px dotted #ccc;
}

.boxImage{
	display: flex;
	justify-content: center;
}

/*action classes for the image upload class*/

.dragClickText{
	height: 100%;
	width: 100%;
	color: #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.dragClickText svg{
	height: 50px;
	width: 50px;
	transition: all 0.3s ease-in;	
	margin-bottom: 15px;
	fill: #2C6D9F;
	transition: all 0.3s ease;
}
/* .dragClickText path{ */
	/* fill: currentColor; */
/* } */

.showDrag{
	background-color: #f7f7f7;
	border: 1px dotted #ccc;
}

.showDrag .dragClickText{
	color: #cccccc;
}
.showBlue{
	background-color: #2c6d9f;
	color: #fff;
}

.noPointers{
	pointer-events: none;
}

.showDrag .dragClickText svg{
	transform: scale(1.2);
}


.dragClickText h3{
	font-size: 17px;
}
.cancelDiv{
	position: absolute;
	z-index: 20;
	top: 15px;
	right: 15px;
	height: 25px;
	width: 25px;
	cursor: pointer;
	pointer-events: all;
}
.imagePreviewSection{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.imageContent{
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: #fff;
	pointer-events: none;
}


