
.Allbooks{
	padding-top: 120px;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.BookList{
	width: 75%;
	padding: 20px;
	padding-top: 0;
	position: relative;
	height: calc(100vh - 120px);
	overflow: scroll;
	overflow-x: hidden;
}
.PopularDownloads{
	width: 25%;
	height: 100%; 
	min-height: 70vh;
	position: fixed;
	right: 0;
	overflow: scroll;
	padding: 20px;
	border-left: 1px solid #00386E30;
	overflow-x: hidden;
}

.GridContainer{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px,1fr)); 
	grid-gap: 20px;
	grid-row-gap: 20px;
	min-height: 50vh;
	/*grid-auto-rows: 175px;*/
}

.SectionHeader{
	font-size: 13px;
	color: #001830;
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
}

.BookList .SectionHeader{
	padding-top: 20px;
}
.LargeImage{
	width: 100%;
	background-color: #ccc;
	height: 300px;
	border-radius: 8px;
	margin-bottom: 15px;
}

.LargeImage img{
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.Subheading{
	font-size: 15px;
	color: #001830;
	margin-bottom: 10px;
}  
.smallerDetails{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.header{
	color: #37536E;
	font-size: 17px;
	margin-bottom: 15px;
}
.smallerDetails svg{
	width: 15px;
	height: 15px;
	color: #667A8E;
	margin-right: 25px;
}

.text{
	color: #667A8E;
	font-size: 13px;
	width: 100%;
}
.btn{
	margin-top: 70px;
}

.paginateHolder {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;

}

.paginateContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	list-style: none;
}
.paginateContainer > li{
	height: 45px;
	color: #001830;
	background-color: #fff;
	padding: 10px 20px;
	border: 1px solid #00183010;
	transition: all 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.paginateContainer > li > a {
	position: absolute;
	outline: none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.paginateContainer > li:hover{
	color: #fff;
	background-color: #00386E;
}

.paginateContainer > li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100px;
	background-color: #00386E;
	color: #fff;
}

.paginateContainer > li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 100px;
	background-color: #00386E;
	color: #fff;
}

.paginateContainer > li.paginatePageActive{
	color: #fff;
	background-color: #00386E;
	border: 1px solid #ffffff50;
	border-bottom: 0;
	border-top: none;
}








@media (max-width: 1100px){
	.PopularDownloads{
		width: 32%;
	}

	.BookList{
		width: 68%;
	}
}


@media (max-width: 800px){
	.PopularDownloads{
		display: none;
	}
	.BookList{
		width: 100%;
	}
}


@media (max-width: 600px){
	.paginateContainer > li{
		display: none;
	}

	.paginateContainer > li:first-child, li:last-child {
		display: flex;
	}
	
	
	.paginateContainer > li.paginatePageActive{
		color: #00386e;
		background-color: #fff;
		border: 1px solid #ffffff;
		border-bottom: 0;
		border-top: none;
		display: flex;
	}
	
}