.Homepage{
	background-image: linear-gradient(-60deg, rgb(239, 243, 246) 50%, rgba(255, 255, 255) 50%);
	height: 100vh;
}
.content{
	height: calc(100vh - 118px);
	width: 100%;
	display: flex;
	position: absolute;
	top: 118px;
	padding: 40px;
}
.textSection{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 100px;
}
.textSection h1{
	margin-bottom: 20px;
	color: #001830;
	font-size: 35px;
	word-wrap: break-word;
	/*text-align: center;*/
}
.textSection p{
	margin-bottom: 15px;
	font-size: 20px;
}

.block{
	display: block;
	width: 100%;
}

.imageBox{
	width: 50%;
}
.imageBox svg{
	width: 100%;
	height: 90%;
}
.extraSection{
	display: none;
}

@media (max-width: 600px){
	.Homepage{
		background-image: none;
	}
	.imageBox{
		display: none;
	}
	.textSection{
		width: 100%;
		padding-top: 30px;
		/*align-items: center;*/
	}
	.textSection h1{
		margin-bottom: 10px;
	}
	.textSection p{
		margin-bottom: 30px;
	}
	.extraSection{
		display: block;
		margin-top: 50px;
	}
	.extraSection p{
		font-size: 14px;
		margin-bottom: 10px;
		color: #001830;
	}
}