html{
	box-sizing: border-box;
}

*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
* > a {
  text-decoration: none;
  color: inherit;
}
body{
	background-color: #EFF3F6;
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	width: 100%;
	position: relative;
}
