.BookDetail{
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	display: flex;
	transition: all 0.3s ease-in;
}

.clickable{
	box-shadow: 0 3px 5px rgba(#ccc, 0.7);
	background-color: #fff;
	cursor: pointer;
}
.clickable:hover{
	background-color: #cccccc90;	
}

.header{
	color: #37536E;
	font-size: 15px;
	margin-bottom: 15px;
}
.details{
	padding: 20px;
}
.image{
	width: 40%;
}
.smallerDetail{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.smallerDetails svg{
	width: 15px;
	height: 15px;
	color: #667A8E;
	margin-right: 25px;
}

.text{
	color: #667A8E;
	font-size: 13px;
}
.btnContainer{
	margin-top: 60px;
	width: 150px;
}